.footer__left {
	float: left;
	width: 50%;
	padding-top: 18px;
	/* именно у колонки, чтобы при добавлении
	элементов они выстраивались вррвень */
}

.footer__right {
	float: right;
	width: 50%;
	text-align: right;
	padding-top: 10px;
}

.copyright {
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	color: #9c9c9c;
}

.socials__item {
	/* Социалки проще верстать инлайн блоками. Они
	находятся близко, раст м-ду ними роли не играет
	 и на px больше-меньше даже дизайнер
	не заметит */
	display: inline-block;
	vertical-align: middle;
	/* при изменении размера выстроятся
	все равно по центру */
	margin-left: 6px;
}

.socials__link {
	width: 32px;
	height: 32px;
	display: block;
	position: relative;
}

.socials__link:hover .socials__icon_static {
	opacity: 0;
}

.socials__link:hover .socials__icon_hover {
	opacity: 1;
}

.socials__icon_hover {
 	opacity: 0;
}

.socials__icon_statik {
	opacity: 1;
}

.socials__icon {
	width: 32px;
	height: 32px;
	display: block;
	background: url('/img/icons/socials-sprite.png') 0 0 no-repeat;
	position: absolute; /* чтобы иконки перекрывались */
	top: 0;
	left: 0;
}

.socials__link_fb .socials__icon_statik{
	background-position: 0 0;
}

.socials__link_fb .socials__icon_hover{
	background-position: 0 -70px;
}

.socials__link_vk .socials__icon_statik{
	background-position: -200px 0;
}

.socials__link_vk:hover .socials__icon_hover{
	background-position: -200px -70px;
}

.socials__link_tw .socials__icon_statik{
	background-position:  -100px 0;
}

.socials__link_tw:hover .socials__icon_hover{
	background-position:  -100px -70px;
}
