.menu__link {
	display: block;
	padding: 7px 23px 10px 0;
	color: #414141;
	text-decoration: none;
	font-size: 18px;
	text-align: right;
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 0px;
		background: #33c1e3;
		transition: width .3s;
	}

	&:hover {
	color: #33c1e3;
		&::after {
			width: 6px;
		}
	}
}

.menu__link-icon,
.menu__link-title {
	display: inline-block;
	vertical-align: middle;
}

.menu__link-title {
	margin-left: 4px;
}

.menu__item_selected .menu__link{
	color: #33c1e3;
	border-color: #33c1e3;
	font-weight: 600;
}
